
    <!-- About Section -->
    <section class="success" id="about">
      <div class="container">
        <h2 class="text-center">About</h2>
        <hr class="star-light">
        <div class="row">
          <div class="col-lg-4 ml-auto">
            <p>Digvijay is a student at Alabama State University, pursuing a B.S degree in Computer Science. His expected graduation date is December 2017.</p>
            <p>Prioritising tasks, dedication to identifying and solving problems, working well with the team are some of his striking features.</p>
            <p>He strongly believes that one man effort can only take you so far, however a team effort can take you all the way.</p>
          </div>
          <div class="col-lg-4 mr-auto">
            <p>Moreover, maintaining a 4.0 GPA while keeping up with tennis practice and tournaments has taught him the importance of scheduling and prioritising.</p>
            <p>On his free time he likes to Code, Workout, Play Games, and Watch Tv series.</p>
            <p>He has played for Alabama State University’s tennis team, hence he is quite comfortable with working with a team.</p>
          </div>
          <div class="col-lg-8 mx-auto text-center">
            <a href="https://github.com/digvijayad" target="_blank" class="btn btn-lg btn-outline">
              <i class="fa fa-github"></i>
              Add him on Linkedin
            </a>
          </div>
        </div>
      </div>
    </section>