
    <section id="experience">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Experience</h2>
            <h3 class="section-subheading text-muted">My journey so far.</h3>
            <hr class="star-primary">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              {% for exp in site.data.experience %}
              <li class="{{exp.class}}">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="img/timeline/{{exp.icon}}" alt="{{exp.icon-alt}}">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>{{exp.title}}</h4>
                    <h4 class="subheading">{{exp.sub_title}}</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">{{exp.description}}</p>
                  </div>
                </div>
              </li>
              {% endfor %}
              
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <h4>Hire me! and
                    <br>Be Part Of 
                    <br>my Journey!</h4>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>