<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" data-target="#page-top" href="{{site.github.url}}/#page-top">{{site.title}}</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" data-target="#portfolio" href="{{site.github.url}}/#portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" data-target="#about" href="{{site.github.url}}/#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" data-target="#experience" href="{{site.github.url}}/#experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="{{site.github.url}}/blog">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Header -->
<header class="masthead" 
    style="background-image: url('img/background-01.jpg');
          background-position: center;
          background-size: cover;" title="Background vector created by Starline - Freepik.com">
  <div class="container">
    <img class="img-fluid" src="img/business profile.png" width="250px" height="250px" alt="" style="border-radius: 50%;">
    <div class="intro-text">
      <span class="name">{{site.title}}</span>
      <hr class="star-light">
      <span class="skills">A Computer Science Student - Alabama State University - Looking for Jobs</span>
    </div>
  </div>
</header>