    <!-- Bootstrap core JavaScript -->
<script src="{{site.github.url}}/vendor/jquery/jquery.min.js"></script>
<script src="{{site.github.url}}/vendor/popper/popper.min.js"></script>
<script src="{{site.github.url}}/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="{{site.github.url}}/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Contact Form JavaScript -->
<!--<script src="{{site.github.url}}/js/jqBootstrapValidation.js"></script>-->
<!--<script src="{{site.github.url}}/js/contact_me.js"></script>-->

<!-- Custom scripts for this template -->
<script src="{{site.github.url}}/js/main.min.js"></script>