 <!-- Portfolio Modals -->
  {% for project in site.data.projects %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{project.id}}" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <h2>{{project.title}}</h2>
                  <hr class="star-primary">
                  <img class="img-fluid img-centered" src="{{site.github.url}}/img/portfolio/{{project.pic_name}}" alt="">
                  <p>{{project.description}}</p>
                  <ul class="list-inline item-details">
                    {% for point in project.points %}
                    <li>{{point.title}}:
                      <strong>
                        {% for link in point.links %}
                            <a {% if link.href != '#' %} target="_blank" {% endif %} href="{{link.href}} ">{{link.title}}</a>
                            {% if point.links.last != link %},{% endif %}
                        {% endfor %}
                      </strong>
                    </li>
                    {% endfor %}
                  </ul>
                  <button class="btn btn-success" type="button" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                    Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>    
    {% endfor %}